.counter-container {
    text-align: center;
}

.text-content {
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.btn {
    width: 140px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-increment {
    background-color: green;
}

.btn-decrement {
    background-color: red;
}

.btn-reset {
    background-color: yellow;
}